/*
=============== 
Global Styles
===============
*/

/* :root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #e90000;
} */

.dark-theme {
  --clr-bcg: #000;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}

.light-theme {
  --clr-bcg: #f28ab2;
  --clr-font: #282c35;
  --clr-primary: #e90000;
}

body {
  background: var(--clr-bcg);
  transition: all 0.3s linear;
}

/*
=============== 
Navbar
===============
*/
.dark-nav {
  background: var(--clr-bcg);
}
.dark-nav-center {
  width: 90vw;
  max-width: 600px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.dark-nav-center h1 {
  font-size: 2.5rem;
  color: var(--clr-font);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.dark-articles {
  background: var(--clr-bcg);
  padding: 5rem 2rem;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.3s linear;
}
.dark-post {
  margin-bottom: 3rem;
}
.dark-post span {
  color: var(--clr-font);
}
.dark-post h2 {
  color: var(--clr-primary);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.dark-post-info {
  margin-bottom: 0.75rem;
  font-style: italic;
}
.dark-post-info span {
  margin-right: 0.5rem;
}

.dark-btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
